
.blog {
  background: url('../images/interstellarthoughts_blog.jpg') no-repeat center center/cover;
  height: 100vh;
}

.blog-post {
  display: flex;
  flex-direction: row;
  margin: 5rem 10rem;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
}

.blog-post-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 5rem 10rem;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
}

.blog-post-img {
  flex: 1;
  padding: 2rem 2rem 2rem 0rem;
}

.blog-post-img>img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  object-fit: cover;
  transform: translateX(-50px);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
}

.img-trans {
  transform: translateX(125px);
}

.blog-post-info {
  flex: 2;
  padding: 1rem;
}

.blog-post-info-reverse {
  flex: 2;
  padding: 2rem;
}

.blog-post-title h2 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.blog-post-title,
.blog-post-date,
.blog-post-desc {
  line-height: 1.5;
}


@media (max-width: 1024px) {
  .blog-post {
    display: flex;
    flex-direction: row;
    margin: 10rem;
    justify-content: center;
    align-items: center;
  }

  .blog-post-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 10rem;
    justify-content: center;
    align-items: center;
  }

  .blog-post-img {
    flex: 1;
    padding: 2rem 2rem 2rem 0rem;
  }

  .blog-post-img>img {
    width: 140%;
    height: 140%;
    border-radius: 0.3rem;
    object-fit: cover;
    transform: translateX(-90px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
  }
  
  .blog-post-info {
    flex: 2;
    padding: 2rem;
  }

  .blog-post-info-reverse {
    flex: 2;
    padding: 2rem;
  }

}

@media (max-width: 600px) {
  .blog-post {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
  }
  .blog-post-reverse {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .blog-post-img {
    flex: 1;
    padding: 0rem 1rem 0rem 1rem;
  }
  
  .blog-post-img>img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
    transform: translateY(-20px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
  }
  
  .img-trans {
    transform: translateY(-1px);
  }

  .blog-post-info {
    flex: 2;
    padding: 0rem 1rem 2rem 1rem;
  }

  .blog-post-info-reverse {
    flex: 2;
    padding: 0rem 1rem 2rem 1rem;
  }
  
}

@media (max-width: 950px) {
  .blog-post {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
  }

  .blog-post-reverse {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .blog-post-img {
    flex: 1;
    padding: 0rem 1rem 0rem 1rem;
  }
  
  .blog-post-img>img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
    transform: translateY(-20px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
  }
  
  .blog-post-info {
    flex: 2;
    padding: 0rem 1rem 2rem 1rem;
  }
}

